@import "https://fonts.googleapis.com/css?family=Exo+2:400,400italic,900italic";
html,
body,
#app {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Exo 2', 'Helvetica Neue', Helvetica, Arial, Sans-serif;
    font-weight: 400;
}

h1,
h2,
h3 {
    font-family: 'Exo 2'!important;
    font-style: italic;
    font-weight: 900;
}

a {
    color: #003442;
}

input[type=text],
button {
    padding: 5px 7px;
    display: inline-block;
    border: 1px solid #d3d3d3;
    font-size: 1em;
    margin: 10px 0;
    font-family: monospace;
}

button {
    margin-left: -1px;
    background: #aaa;
    color: #fff;
    font-weight: bold;
}

.badge {
    font-size: .7em;
    display: inline-block;
    background: #aaa;
    padding: .2em .6em;
    line-height: 1.2em;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 6px;
}

.list-unstyled {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.thin {
    font-weight: 400;
}

.hidden {
    display: none;
}

#map {
    position: absolute;
    top: 70px;
    bottom: 0;
    left: 0;
    right: 0;
}

.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 40px;
    z-index: 1099;
    background: #003442;
    color: #222;
    padding: 15px;
}

.header .logo,
.loading .logo {
    color: #f3f3f3;
    margin: 0;
    line-height: 1em;
    float: left;
}

.header .logo small,
.loading .logo small {
    font-size: .7em;
    font-weight: 400;
    color: #736F66;
}

.header .about {
    float: right;
    color: #f3f3f3;
    margin: 0;
    font-size: 2em;
    line-height: 1em;
}

.header .score {
    float: right;
    color: #f3f3f3;
    margin: 0;
    font-size: 2em;
    line-height: 1em;
}

.header .about a {
    background: #f3f3f3;
    padding: .1em .3em;
    margin-left: 1em;
    border-radius: 2em;
    color: #003442;
    text-decoration: none;
}

.header .about a:hover,
.header .about a.active {
    padding: .2em .4em;
    border-radius: 2em;
    color: #736F66;
}

.loading,
.congrats {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #003442;
    color: #f3f3f3;
    z-index: 9999;
    text-align: center;
    display: table;
    width: 100%;
    height: 100%;
}

.loading .cell,
.congrats .cell {
    display: table-cell;
    vertical-align: middle;
}

.loading .logo,
.congrats .logo {
    float: none;
    font-size: 4em;
}

.loading .big-load a,
.congrats .big-load a {
    display: inline-block;
    padding: .5em .9em;
    background: #f3f3f3;
    margin-top: 1em;
    margin-right: .5em;
    text-decoration: none;
}

.congrats {
    background: rgb(255, 0, 216);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgb(255, 0, 216) 0%, rgb(255, 127, 0) 50%, rgb(16, 255, 0) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 0, 216)), color-stop(50%, rgb(255, 127, 0)), color-stop(100%, rgb(16, 255, 0)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgb(255, 0, 216) 0%, rgb(255, 127, 0) 50%, rgb(16, 255, 0) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgb(255, 0, 216) 0%, rgb(255, 127, 0) 50%, rgb(16, 255, 0) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgb(255, 0, 216) 0%, rgb(255, 127, 0) 50%, rgb(16, 255, 0) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgb(255, 0, 216) 0%, rgb(255, 127, 0) 50%, rgb(16, 255, 0) 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ff00d8', endColorstr='#10ff00', GradientType=0);
    /* IE6-9 */
}

.row {
    height: 100%;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#sidebar {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, .5)
}

.area-img {
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 2em;
    height: 180px;
    text-align: center;
}

.area-img img {
    height: 100%;
}